@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}


.home{
    text-align: center;
    scroll-behavior: smooth;
    position: relative;
    height: 100dvh;
    z-index: 10;
    
}
#bg-video{
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}



.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    
    transform: translateX(-50%); 
    font-family: "Space Grotesk", sans-serif; 
    font-optical-sizing: auto; font-weight: 400; 
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    padding: 15px 40px;
    height: 50px;
    width: 50%;
    display: flex;
    margin: 30px auto;
    min-width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(0, 0, 0, 0.3);   /* transparent */
    backdrop-filter: blur(10px);       /* blur effect */
    -webkit-backdrop-filter: blur(10px);

    border-radius: 110px;
    border: 1px solid rgba(255,255,255,0.1);
    border: 2px solid red;

    z-index: 999;
}


.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.navbar ul li{
    list-style: none;
    
}

.navbar ul li a{
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: none;
}

.navbar img{
    width: 64px;
    color: white;
}


.logo a{
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}


.content {
    padding: 6rem;
    align-items: center;
    display: inline-block;        /* or max-width: 700px */
    max-width: 1912px;      /* optional but recommended */
    margin: 0 auto;        /* THIS centers the box */
    margin-top: 200px;     /* push below navbar */
    border: 2px solid red; /* your border */
    text-align: center;    /* centers text inside */
}

.content h1{
    color: white;
    text-align: center;
    font-size: clamp(72px , 3vw , 5rem);
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.content h2{
    color: white;
    padding-top: 22px;
    text-align: center;
    font-size: 52px;
    font-family: 'Space Mono';
    font-weight: 700;
}
.content p{
    color: white;
    padding-top: 26px;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-style: italic;
    text-align: center;

}

.sai{
    color: red;
}

.frontend{
    color: blue;
}


.content h2 span{
    color: yellow;
}

.buttons{
    display: inline-block;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 10px 10px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 2rem;
}

.btn{
    align-items: center;
}



.img{
    display: flex;
    gap: 22px;
    align-items: center;
    width: 20%;
    border: 2px solid red;
    
}

.buttons button {
  height: 50px;
  margin: 5px;
  width: 180px;
  background: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border: solid #404c5d 1px;
  font-size: 16px;
  color: rgb(255, 255, 255 ,1);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 70px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}

button:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: #6d8bdc;
  -webkit-transition: 500ms;
  transition: 500ms;
}

button:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.navbar ul li a {
  position: relative;
  display: inline-block;
  padding: 4px 8px;
  z-index: 1;
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ff0000);
  background-size: 300% 300%;
  filter: blur(25px);
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.4s ease;
  animation: rotate-96 5s linear infinite;
}

.navbar ul li a:hover::after {
  opacity: 1;
}

.reachOut button{
    width: 100px;
    border-radius: 22px;
    height: 30px;
    background-color: black;
    color: white;
    border-color: blueviolet;
}



