

.projectLayer{
    display: flex;
    align-items: center;
    text-align: center;
}

.projectLayer .outerCase{
    flex: 0 0 auto;   /* do NOT grow, shrink, stretch */
    display: inline-flex; /* behave like inline-block */

}





.outerCase{
    width: 20%;
    height: 17rem;
    padding: 20px;
}

.innerCase{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.caseContent{
    width: 100%;
    height: 35%;
    
}


