

.projectLayer{
    display: flex;
    align-items: center;
    width: fit-content;        /* shrink parent to content width */
    margin: 0 auto;  
    gap: 2rem;
    text-align: center;
}

.projectLayer .outerCase{
    flex: 0 0 auto;   /* do NOT grow, shrink, stretch */
    display: inline-flex; /* behave like inline-block */

}




.outerCase {
    width: 300px;
    height: 17rem;
    padding: 7px;
}


.innerCase {
    width: 100%;
    height: 100%;
    padding: 8px;
}

.caseContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 22%;
}


.caseContent img {
    width:2.2rem;
}   

.caseContent h3{
    font-size: 12px;
    color: white;
}

.caseContent button{
    width: 100px;
    height: auto;
}
