
.skills{
    height: 50dvh;
}
.carousel {
    margin: 42px auto;
     width: 55%;
    
    display: flex;
    overflow: hidden;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-track {
    display: flex;
    animation: spin 20s linear infinite;
    gap: 1em;
    width: fit-content;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    flex-shrink: 0;
}

.card {
    flex: 0 0 3em;
    height: 3em;
    padding: 1em;
    font-size: 2rem;
    border-radius: .2em;
    /* border: 2px solid green; */
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from { transform: translateX(0); }
    to { transform: translateX(calc(-20% - 0.8em)); }
}


.about-para {
    text-align: center;   /* center inline-block children */
}

.about-para p {
    display: inline-block;   /* shrink to text width */
    /* border: 2px solid red;  */
    color: #9a9a9a;
    font-size: 14px;
}

.about-para p:hover{
    color: rgb(172, 243, 113);
}