.skills-inf-card .card{
    background-color: blue;
    width: 100%;
    padding: 1rem;
    flex: 0 0 1em;
    text-align: center;
    height: 10rem;
    border: 2px solid red;
    align-items: center;
}


.skills-inf-card{
    border: 2px solid yellow;
    text-align: center;
    display: flex;
    align-content: center;

}

