@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



*{
    margin:0px;
    padding: 0;
}
body{
    background-color: black;
}
#bg-video{
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.home{
    scroll-behavior: smooth;
    position: relative;
    z-index: 10;
    width: 100%;
}


.navbar{
    position: fixed;
    top: 20px;                     /* stays fixed at top */
    left: 50%;                     /* move center of navbar to center of screen */
    transform: translateX(-50%); 
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    width: 75%;
    display: flex;
    margin: 30px auto;
    min-width: 280px;
    justify-content: space-between;
    align-items: center;
    height: auto;
    border: 2px solid red;
    border-radius: 20px;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(8px);
   
}


.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.navbar ul li{
    list-style: none;
    
}

.navbar ul li a{
    
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    color: white;
    text-decoration: none;
}

.navbar img{
    width: 64px;
    color: white;
}


.logo {
    color: white;
    font-family: 'Space Mono';
    list-style: none;
}


.content {
    width: 75%;            /* or max-width: 700px */
    max-width: 1912px;      /* optional but recommended */
    margin: 0 auto;        /* THIS centers the box */
    margin-top: 200px;     /* push below navbar */
    border: 2px solid red; /* your border */
    padding: 20px;
    text-align: center;    /* centers text inside */
}

.content h1{
    color: white;
    text-align: center;
    font-size: 72px;
    font-family: 'Space Mono';
}
.content h2{
    color: white;
    padding-top: 22px;
    text-align: center;
    font-size: 52px;
    font-family: 'Space Mono';
    font-weight: 700;
}
.content p{
    color: white;
    padding-top: 26px;
    font-size: 18px;
    font-family: 'Space Mono';
    font-weight: 300;
    font-style: italic;
    text-align: center;

}

.sai{
    color: red;
}

.frontend{
    color: blue;
}


.content h2 span{
    color: yellow;
}

.buttons{
    width: 55%;
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 10px 10px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 2rem;
}

.buttons

.buttons .rBtn{
    padding: 8px;
    border: 2px solid rgb(100, 250, 80);
    background-color: blue;
    border-radius: 22px;
    font-size: 18px;
}

.buttons .cBtn{
    padding: 8px;
    border: 2px solid rgb(100, 250, 80);
    background-color: blue;
    border-radius: 22px;

    font-size: 18px;
}

.img{
    display: flex;
}