
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.fsg{
    font-family: "Space Grotesk", sans-serif; 
    font-optical-sizing: auto; font-weight: 400; 
    font-style: normal;
}

.fds{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.rub{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.span-b * {
    color: blue;
}

.span-r *{
    color:red;
}

.bd{
    border: 2px solid red;
}


.expand{
    width: 20rem;
    position: relative;
    top: 7rem;
    height: 7rem;
}

